@model ResturantApp.Models.Staff

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        text-align: center;
    }

    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="font-weight:bold">Staff (@Model.FirstName   @Model.LastName)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StaffId)


        <fieldset>
            <div class=" container">
                <div class=" row">

                    <div class=" col-md-4">
                        <div class="form-group">
                            First Name :
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            Middle Name :
                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            Last Name :
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            Enrollment Date :
                            @Html.EditorFor(model => model.EnrollmentDate, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center", @placeholder = "yyyy-mm-dd" } })
                            @Html.ValidationMessageFor(model => model.EnrollmentDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            Phone Number :
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class=" col-md-4">
                        <div class="form-group">
                            Gender :
                            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            Email Address :
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            Payment Code :
                            @Html.EditorFor(model => model.PaymentCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.PaymentCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            Address :
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            Balance :
                            @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            Balance :
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>




    </div>

}

<div>
    @Html.ActionLink("Back to Staff List", "Staff")
</div>


<link href="~/Content/themes/base/jquery-ui.min.css" rel=" stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
            $(document).ready(function () {
                $(".datepicker").datepicker({
                    dateFormat: "dd-mm-yy",
                    changeMonth: true,
                    changeYear: true
                });
            });
    </script>
}
